@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;

700&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 75%;
  margin: 0 auto;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

header .blue-line {
  height: 20px;
  width: 100%;
  background-color: #0282F9;
  padding: 4px;
  margin-bottom: 20px;
}

header .blue-line .container {
  display: flex;
  justify-content: flex-end;
}

header .blue-line .container div {
  color: white;
  font-size: 10px;
  margin-left: 20px;
  display: flex;
}

header .blue-line .container div .additional {
  margin-left: 3px;
}

header .blue-line .container .sm {
  font-size: 7px;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .container .logo {
  max-width: 80px;
}

header .container .logo img {
  width: 100%;
}

header .container nav {
  align-self: center;
  display: flex;
}

header .container nav ul {
  list-style: none;
}

header .container nav ul li {
  display: inline-block;
  margin-left: 15px;
}

header .container nav ul li a {
  text-decoration: none;
  color: #4F4948;
  font-weight: bold;
}

header .container nav ul li a:hover {
  color: #0282F9;
  border-bottom: 5px solid #0282F9;
  padding-bottom: 50px;
}

header .container nav ul li a:last-child i {
  color: #0282F9;
  font-size: 13px;
  margin-left: 5px;
}

header .container nav input[type=search] {
  border: none;
  color: #4F4948;
  font-weight: bold;
  border-bottom: 3px solid #0282F9;
  padding-bottom: 5px;
  margin-left: 50px;
  text-align: end;
  outline: none;
}

