@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;

700&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 75%;
  margin: 0 auto;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
}

header .blue-line {
  height: 20px;
  width: 100%;
  background-color: #0282F9;
  padding: 4px;
  margin-bottom: 20px;
}

header .blue-line .container {
  display: flex;
  justify-content: flex-end;
}

header .blue-line .container div {
  color: white;
  font-size: 10px;
  margin-left: 20px;
  display: flex;
}

header .blue-line .container div .additional {
  margin-left: 3px;
}

header .blue-line .container .sm {
  font-size: 7px;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .container .logo {
  max-width: 80px;
}

header .container .logo img {
  width: 100%;
}

header .container nav {
  align-self: center;
  display: flex;
}

header .container nav ul {
  list-style: none;
}

header .container nav ul li {
  display: inline-block;
  margin-left: 15px;
}

header .container nav ul li a {
  text-decoration: none;
  color: #4F4948;
  font-weight: bold;
}

header .container nav ul li a:hover {
  color: #0282F9;
  border-bottom: 5px solid #0282F9;
  padding-bottom: 50px;
}

header .container nav ul li a.active {
  color: #0282F9;
  border-bottom: 5px solid #0282F9;
  padding-bottom: 50px;
}

header .container nav ul li a:last-child i {
  color: #0282F9;
  font-size: 13px;
  margin-left: 5px;
}

header .container nav input[type=search] {
  border: none;
  color: #4F4948;
  font-weight: bold;
  border-bottom: 3px solid #0282F9;
  padding-bottom: 5px;
  margin-left: 50px;
  text-align: end;
  outline: none;
}

main {
  margin: 20px 0;
}

main .hero {
  width: 100%;
  height: 270px;
}

main .hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}

main .current {
  background-color: #1C1C1C;
}

main .current .container {
  padding: 30px 0 20px 0;
  position: relative;
}

main .current .container .current-series {
  padding: 7px 21px;
  background-color: #0282F9;
  color: white;
  font-weight: bold;
  font-size: 23px;
  display: inline-block;
  position: absolute;
  top: -20px;
}

main .current .container .comics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15px 0 40px 0;
}

main .current .container .comics .single-comic {
  width: calc(16.6666666667% - 20px);
  margin: 0px 10px;
}

main .current .container .comics .single-comic .image {
  width: 140px;
  height: 140px;
}

main .current .container .comics .single-comic .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}

main .current .container .comics .single-comic h4 {
  color: #F4F2E7;
  font-size: 14px;
  margin-top: 10px;
}

main .current .container .btn {
  display: flex;
  justify-content: center;
}

main .current .container .btn button {
  border: none;
  padding: 10px 42px;
  background-color: #0282F9;
  color: white;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

main .third-section {
  background-color: #0282F9;
  padding: 40px 0;
}

main .third-section .container ul {
  display: flex;
  justify-content: space-between;
}

main .third-section .container ul li {
  list-style: none;
  display: flex;
}

main .third-section .container ul li .icon {
  max-width: 50px;
  align-self: center;
}

main .third-section .container ul li .icon img {
  width: 100%;
}

main .third-section .container ul li .icon.locator {
  max-width: 35px;
}

main .third-section .container ul li .icon.locator img {
  width: 100%;
}

main .third-section .container ul li h4 {
  color: white;
  align-self: center;
  font-weight: 500;
  margin-left: 15px;
}

